.char-bluish-purple{color: #4f41d5;}
.char-lightpurple{color: #a8a3ff;}
.char-blue {color: #0066ff;}
.char-lightblue {color: #a4e2ff;}
.char-cyan1 {color: #1fd6ff;}
.char-cyan2 {color: #68baff;}
.char-darkred {color: #d54f41;}
.char-darkgray {color: #444444;}
.char-lightblack {color: #24292e;}
.char-magenta{color: #cf0095;}
.char-white {color: #eee;}
.char-gray{color: #6d7189;}

.bg-white {background: #ffffff;}
.bg-gray {background-color: #f5f5f7;}
.bg-lightblue {background: #f6f8fc;}
.bg-darkblue {background: #00153a;}
.bg-deepblue {background:#04003e;}
.bg-gothicblue {background: #06005a;}
.bg-blightblack{background: #1c1c1c;}
.bg-lightorange{background: #f9e6cf8a;}
