.char-bluish-purple{
  color: #4f41d5;
}

.char-darkred {
  color: #d54f41;
}

.char-darkgray {
  color: #444;
}


.bg-lightblue {
  background: #f6f8fc;
}

.bg-lightorange{
  background: #f9e6cf8a;
}
