footer {
  display: block;
  background-color: #f5f5f7;
  font-size: 12px;
  font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
  color: #6e6e73;
  text-align: center;
}

footer .box {
  margin: 0 auto;
  width:35%;
}

footer .container {
  padding-top:15px;
  padding-bottom:10px;
  text-align: left;
}

footer .title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.5em;
  font-weight: 700;
}

footer .content {
  margin: 0;
  font-size: 1.1em;
  font-weight: 500;
}

footer ul {
  text-align: left;
  margin: 7px;
  padding-inline-start: 20px;
}

footer li {
  margin-bottom: 3px;
}

footer li span:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer ul div {
  line-height: 1.4em;
  margin: 0px 8px 8px;
}
