#fig-mcs {
  width:40%;
  margin: 10px auto 18px;
  min-width: 500px;
}

#esc-img {
    width: 500px;
    height: 300px;
    text-align: center;
    margin: 0 auto;
}

#fig-brd {
  width:75%;
  border-radius: 8pt;
  margin: 15px auto 12px;
}

.fadeFigure{
  transition: all .5s;
  opacity: 0;
}
.-fade {
  transition: all .5s;
  opacity: 1;
}

#fig-res-cc{
  width:100%;
  margin: 5px auto 12px;
}

#fig-res-vc{
  width:100%;
  margin: 5px auto 12px;
}


#fig-flight {
  width:50%;
  border-radius: 8pt;
  margin: 25px auto 20px;
}

.video {
  display: inline-flex;
  height: 300px;
  text-align: center;
  margin: 5px auto;
}
