#fig-mcs {
  width:40%;
  margin: 10px auto 18px;
  min-width: 480px;
}

#fig-brd {
  text-align: center;
  margin: 0 auto;
  width:75%;
}


.fadeFigure{
  transition: all .5s;
  opacity: 0;
}

.-fade {
  transition: all .5s;
  opacity: 1;
}

#fig-res-cc{
  width:100%;
  margin: 5px auto 12px;
}

#fig-res-vc{
  width:100%;
  margin: 5px auto 12px;
}

#fig-flight {
  width:50%;
  border-radius: 8pt;
  margin: 25px auto 20px;
}

.video {
  display: inline-flex;
  height: 300px;
  text-align: center;
  margin: 5px auto;
}

@media screen and (max-width: 480px){
  #fig-mcs {
    width:70%;
    min-width: 100px;
  }
  #fig-brd {
    width:70%;
  }
  #fig-flight {
    width:90%;
  }
  .video {
    display: inline-flex;
    height: 100px;
    text-align: center;
    margin: 5px auto;
  }
}
