body > section {
  margin: 0 auto;
}

body > section .category {
  padding: 30px 0 5px;
  font-family: "Meiryo", Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 13pt;
}

body > section .title {
  font-family: "Meiryo", Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 18pt;
}

body > section .subtitle {
  font-family: "Meiryo", Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 13pt;
}

body > section .abstract{
  text-align:center;
  width: 80%;
  font-size: 12pt;
  font-weight: 700;
  font-family: canada-type-gibson,sans-serif;
  letter-spacing: .01em;
  margin: 10px auto 25px;
}

body > section .text{
  text-indent: 1em;
  text-align: justify;
  width: 80%;
  font-size: 11pt;
  font-family: canada-type-gibson,sans-serif;
  letter-spacing: .01em;
  margin: 0 auto 10px;
}
