body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'sans-serif';
  background-color: #fff;
}

body {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.border {
  padding-bottom: 40px;
  border-bottom: 1px #e1e4e8 solid !important;
}

.top-hspace {
  padding-bottom: 10px;
}
.bottom-hspace {
  padding-bottom: 10px;
}

.nowrap {
  white-space: nowrap;
}

.inlineblock {
  display: inline-block;
}
