body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Yu Gothic', 'Hiragino Kaku Gothic ProN', 'Meiryo', 'sans-serif';
  background-color: #fff;
}

body {
  animation: fadeIn 1s ease 0s 1 normal;
  -webkit-animation: fadeIn 1s ease 0s 1 normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

body > section {
  margin: 0 auto;
}

section .category {
  padding: 20px 0 5px;
  font-family: "Meiryo", Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 12pt;
  color: #cf0095;
}

section .title {
  font-family: "Meiryo", Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  font-size: 18pt;
  color: #24292e;
}

section .abstract{
  text-align:center;
  width: 80%;
  font-size: 12pt;
  font-weight: 700;
  color: #6d7189;
  font-family: canada-type-gibson,sans-serif;
  letter-spacing: .01em;
  margin: 10px auto 20px;
}

section .text{
  text-indent: 1em;
  text-align:left;
  width: 80%;
  font-size: 11pt;
  color: #6d7189;
  font-family: canada-type-gibson,sans-serif;
  letter-spacing: .01em;
  margin: 0 auto 10px;
}


.nowrap {
  white-space: nowrap;
}

.bluish-purple{
  color: #4f41d5;
}

.darkred {
  color: #d54f41;
}

.darkgray {
  color: #444;
}

.twocolumn{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.twocolumn .left{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  padding-right: 5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.twocolumn .right{
  position: -webkit-sticky;
  position: sticky;
  width: 30%;
  height: 35vh;         /* position when unscrolled */
  top: 6.0rem;          /* position when scrolled */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.twocolumn .left .text{
  text-align:left;
  width: 100%;
  font-size: 12pt;
  color: #6d7189;
  font-family: canada-type-gibson,sans-serif;
  letter-spacing: .01em;
  margin: 50px auto 45px;
}

.border {
  border-bottom: 1px #e1e4e8 solid !important;
}
